{% extends 'navbar.html' %}
{% block title_block %} {{  title }} {% endblock %}

{% block css_block %}

{% endblock %}


{% block body_block %}
<table class="table table-hover">
    <thead>
    <tr><th colspan="5" class="text-center"><h3>User List</h3></th></tr>
    <tr>
        <th>SL.</th>
        <th>Image</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Date of Birth</th>
    </tr>
    </thead>
    <tbody>
    {% for user_one in users %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            {% if user_one.user_profile.profile_pic %}
            <img src="/media/{{ user.user_profile.profile_pic }}" width="100px" height="100px" class="rounded-circle" alt="">
            {% else %}
            <img src="/media/default.jpg" width="100px" height="100px" class="rounded-circle" alt="">
            {% endif %}
        </td>
        <td>{{ user_one.username }} </td>
        <td>{{ user_one.user_profile.full_name }}</td>
        <td>{{ user_one.user_profile.dob }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}