{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{ title }} {% endblock %}

{% block css_block %}
{#    .country {#}
{#        width: 550px;#}
{#        border: 1px solid #ccc;#}
{#        padding: 25px;#}
{#    }#}
{% endblock %}

{% block body_block %}
    <center>
    <div class="container">
        <form method="post" class="form-control">
            {% csrf_token %}
            {{ country_form.as_p }}
            <input type="submit" value="Add" name="submit" class="btn btn-primary" style="width: 100%">
        </form>
    </div>
    </center>



{% endblock %}