{% extends 'navbar.html' %}
{% block title_block %} {{  title }} {% endblock %}

{% block css_block %}

{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-sm-4">
        <a href="{% url 'App_Dashboard:country' %}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-flag"> Total Country</i></h5>
                    <h2 class="text-right">{{  country_list.count }}</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="{% url 'App_Login:users' %}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-users"> Total User</i></h5>
                    <h2 class="text-right">{{  users.count }}</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="{% url 'App_Dashboard:taxi_company' %}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Taxi Company</h5>
                    <h2 class="text-right">{{  taxi_companies.count }}</h2>
                </div>
            </div>
        </a>
    </div>

</div>

{% endblock %}