{% extends 'base.html' %}
{% block title_block %} {{ title }} {% endblock %}

{% block css_block %}

{% endblock %}

{% block body_block %}
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr><th colspan="8" class="text-center"><h3>Messages</h3></th></tr>
        <tr>
            <th>SL.</th>
            <th>
                {% if request.user.user_profile.type == 2 %}
                    Message From
                {% else %}
                    Message To
                {% endif %}
            </th>

            <th>Message</th>
            <th>
                {% if request.user.user_profile.type == 2 %}
                    Your Reply
                {% else %}
                    Designer Reply
                {% endif %}
            </th>
        </tr>
        </thead>
        {% if request.user.user_profile.type == 2 %}
        <tbody>
        {% for msg in mymessages %}
        <tr>
            <td>{{ forloop.counter }} </td>

            <td>
                {% if msg.customer_user.user_profile.profile_pic %}
                <img src="/media/{{ msg.customer_user.user_profile.profile_pic }}" width="50px" height="50px" class="rounded-circle mr-1" alt="">{{ msg.customer_user.username }}</td>

                {% else %}
                <img src="/media/default.jpg" width="50px" height="50px" class="rounded-circle mr-1" alt="">{{ msg.customer_user.username }}
                {% endif %}

            <td>{{ msg.message }}</td>
            <td>{{ msg.reply_message }}<a href="{% url 'App_Dashboard:messageReply' message_id=msg.id %}">
                {% if msg.reply_message %}
                Edit your reply
                {% else %}
                Send your reply
                {% endif %}
            </a></td>

        </tr>
        {% empty %}
        <tr><td colspan="9"><h3 align="center">NO RECORD FOUND</h3></td></tr>
        {% endfor %}
        </tbody>
        {% else %}

        <tbody>
        {% for msg in customerMessages %}
        <tr>
            <td>{{ forloop.counter }} </td>

            <td>
                {% for user in users %}
                    {% if user.id == msg.designer_user %}
                        {{ user.username }}
                    {% endif %}
                {% endfor %}
            </td>

            <td>{{ msg.message }}</td>
            <td>{{ msg.reply_message }}
            </td>

        </tr>
        {% empty %}
        <tr><td colspan="9"><h3 align="center">NO RECORD FOUND</h3></td></tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>


{% endblock %}